[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU
	branch = tags/v0.9.5
[submodule "drivers/net/wireless/realtek/rtl8812au"]
	path = drivers/net/wireless/realtek/rtl8812au
	url = https://github.com/aircrack-ng/rtl8812au
	branch = v5.6.4.2
